---
// IMPORTS
// Components
import Layout from "@layouts/SimplePage.astro";
---

<Layout
  title="Minusta"
  description="Tietoa sivu suomeksi."
  heroImage="/blog-placeholder-about.jpg"
>
  <p>Tämä on <strong>suomen</strong> kielinen tietosivu.</p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et
    risus quam. Ut elit tellus, consequat eu ornare sit amet, sagittis nec
    mauris. <strong
      >Etiam luctus venenatis condimentum. Cras congue ut mauris in rutrum.
      Nulla congue bibendum posuere.</strong
    > Suspendisse posuere, arcu in tempus elementum, augue ante rutrum est, vitae
    dignissim dui nibh blandit enim. Duis malesuada sollicitudin sapien vel maximus.
    Vestibulum dictum euismod tristique. In quis augue commodo risus placerat fringilla.
  </p>

  <p>
    Ma laoreet, magna metus suscipit nisi, et semper purus ipsum vitae ligula.
    <strong>Vestibulum ante ipsum primis in faucibus.</strong> Orci luctus et ultrices
    posuere cubilia curae; Duis ultrices ligula nec purus vestibulum, at aliquet
    justo congue.
  </p>

  <p>
    <strong>Tec libero ipsum, cursus facili. Int porta facilisis.</strong> Cras placerat
    ullamcorper purus, id varius nisi accumsan id. Integer in lorem at risus tempor
    faucibus. Cras suscipit magna maximus, consequat leo quis, posuere ex. Integer
    iaculis, dui vel dictum sodales, nibh orci fringilla lorem, tincidunt scelerisque
    dui felis ut elit. Vestibulum euismod purus justo, non ultricies orci auctor
    ut. Vestibulum id libero eget felis fermentum vehicula in imperdiet orci. In
    tempor purus non eros euismod, non sodales risus blandit.
  </p>
</Layout>
