---
// IMPORTS
// Components
import FormattedDate from "@components/FormattedDate.astro";

// FUNCTIONS & ACTIONS
const { post } = Astro.props;
---

<li>
	<a href={`/${post.slug.split("/")[0]}/${post.collection}/${post.slug.split("/")[1]}`}>
		<img width={720} height={360} src={post.data.heroImage} alt="" />
		<h4 class="title">{post.data.title}</h4>
		<p class="date">
			<FormattedDate date={post.data.pubDate} />
		</p>
	</a>
</li>