---
import LanguagePicker from "./LanguagePicker.astro";
import HeaderLink from "./HeaderLink.astro";
import { SITE } from "@i18n/sections";

import { defaultLang, navLinks } from "@i18n/ui";
import { sanitizeRoutes } from "@i18n/utils";
import type { Multi } from "@types";

const LOCALE: keyof Multi = Astro.currentLocale || defaultLang;
console.log(LOCALE)
const links = navLinks.filter((link) => link.LANGUAGES.includes(LOCALE));
---

<header>
	<nav>
		<div class="logoname">
			<h2>
				<a href={"/" + LOCALE + "/"}>
					{SITE.TITLE[LOCALE]}
				</a>
			</h2>
		</div>
		<div class="internal-links">
			{
				links.map((link) => (
					<HeaderLink href={sanitizeRoutes("/" + LOCALE + link.HREF + "/")}>
						{link.TEXT}
					</HeaderLink>
				))
			}
		</div>
		<div class="language-picker">
			<LanguagePicker />
		</div>
	</nav>
</header>
