---
// IMPORTS
// Config & content
import { languages, defaultLang } from "@i18n/ui";
import { getRoutes, sanitizeRoutes } from "@i18n/utils";

// TYPES
import type { Multi } from "@types";

// FUNCTIONS & ACTIONS
// Set language of page rendered
const LOCALE: keyof Multi = Astro.currentLocale || defaultLang;

// Get routes for versions of page in other languages
const routes: Multi | string = getRoutes(Astro.url, LOCALE);
---

<ul class="language-picker">
  {
    Object.entries(languages).map(([lang, label]) => (
      <li>
        <a
          href={sanitizeRoutes(
            `/${lang}/${typeof routes === "object" ? routes[lang] : routes}/`,
          )}
        >
          {label}
        </a>
      </li>
    ))
  }
</ul>
