---
// IMPORTS
// Components

// FUNCTIONS & ACTIONS
const { prevUrl, nextUrl } = Astro.props;
---

<nav class="pagination">
  {
    (prevUrl || nextUrl) && (
      <ul>
        {prevUrl && <li><a href={prevUrl}>&larr;</a></li>}
        {nextUrl && <li><a href={nextUrl}>&rarr;</a></li>}
      </ul>
    )
  }
</nav>
